
{% load static djf_survey_tags %}
<div class="swiper-slide">
    <blockquote class="p-6 border border-gray-200 rounded-lg shadow-lg bg-white">
        
        {% if object.user == user %}
            <div class="flex -space-x-4 hover:space-x-1 float-right px-0">
                {% if object.survey.editable %}
                    <a href="{% url 'djf_surveys:edit' object.id %}" class="z-20 block p-4 text-blue-700 transition-all bg-blue-100 border-2 border-white rounded-full active:bg-blue-50 hover:scale-110 focus:outline-none focus:ring">
                        {% include "djf_surveys/buttons/edit_button.html" %}
                    </a>
                {% endif %}
                
                {% if object.survey.deletable %}
                    <a class="button-delete z-30 block p-4 text-red-700 transition-all bg-red-100 border-2 border-white rounded-full hover:scale-110 focus:outline-none focus:ring active:bg-red-50"
                        data-te-toggle="modal"
                        data-te-target="#modalDelete"
                        data-mdb-object_name="your answer"
                        data-mdb-object_delete_url="{% url 'djf_surveys:delete' object.id %}">
                        {% include "djf_surveys/buttons/delete_button.html" %}
                    </a>
                {% endif %}
            </div>
        {% endif %}
        <div class="flex flex-col items-left sm:flex-row text-left not-italic">
            <img src="{{ object.get_user_photo }}" alt="" class="object-cover w-12 h-12 rounded-full sm:w-12 sm:h-12 sm:mb-0"/>
            <div class="ml-3 sm:ml-3 text-left sm:text-left">
                <span class="block font-medium py-1 px-0 mx-0"> {{ object.user|truncate_email }} </span>
                <span class="text-sm text-gray-500 block">{{ object.created_at }} </span>
            </div>
        </div>
        <hr class="mt-3 mb-3">
        

        {% for answer in object.answer_set.all %}
            <p class="text-lg text-neutral-900">{{ answer.question.label|linebreaksbr }}</p>
            <p class="flex justify-center items-center bg-blue-100 rounded-lg text-blue-700 py-2 px-2">Your Nomination - {{ answer.get_value }}</p>
            <hr class="mt-3 mb-3">
        {% endfor %}
 
    </blockquote>
</div>



























